/* TrafficLight.css */
.traffic-light-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
.traffic-light {
  width: 40px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(61, 59, 59);
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
}

.light-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.light {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.light.red {
  background-color: red;
}

.light.yellow {
  background-color: yellow;
}

.light.green {
  background-color: green;
}

.light:not(.active) {
  background-color: grey; /* Make the lights that are not active grey */
}
